# SciKit Learn Preprocessing

Best package for preprocessing data

In [1]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
data = np.random.randint(0,100,(10,2))

In [3]:
data

array([[86, 85],
       [55,  0],
       [51, 16],
       [46,  3],
       [21, 34],
       [54, 53],
       [35, 84],
       [28, 85],
       [27, 18],
       [51, 45]])

How can we scale our data based on a range?  
In an easy three steps:  
Note that minimum value becomes 0 and maximum value becomes 1

In [5]:
scaler_model = MinMaxScaler()
scaler_model.fit(data)
scaler_model.transform(data)

/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

array([[1.        , 1.        ],
       [0.52307692, 0.        ],
       [0.46153846, 0.18823529],
       [0.38461538, 0.03529412],
       [0.        , 0.4       ],
       [0.50769231, 0.62352941],
       [0.21538462, 0.98823529],
       [0.10769231, 1.        ],
       [0.09230769, 0.21176471],
       [0.46153846, 0.52941176]])

How to split our data into training and test set?  
Here we creat a pandas data frame (No data is imported)

In [7]:
import pandas as pd
data = pd.DataFrame(data=np.random.randint(0,101,(50,4)),columns=['f1','f2','f3','label'])

In [8]:
data.head()

   f1  f2  f3  label
0  86  78  37     47
1  26  91  92     16
2  40  78  33     16
3  28  48  44     66
4  81  56  35     40

let's extract x and y

In [9]:
x = data[['f1','f2','f3']] # Alternatively x = data.drop('label',axis=1)
y = data['label']

Next we have to import the method

In [10]:
from sklearn.model_selection import train_test_split

Then we define training and test set

In [11]:
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=101)

Let's find size of train and test set

In [12]:
X_train.shape

(35, 3)

In [13]:
X_test.shape

(15, 3)

In [14]:
y_train.shape

(35,)

In [15]:
y_test.shape

(15,)